@charset "iso-8859-1";
body { font-family:tahoma; font-size:11px; color:#BCBCBC; background-color:#FFFFFF;
scrollbar-arrow-color:#BCBCBC;
scrollbar-track-color:#FFFFFF;
scrollbar-face-color:#EAEAEA; 
scrollbar-highlight-color:#BCBCBC;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-shadow-color:#BCBCBC;
scrollbar-darkshadow-color:#FFFFFF; }

table {font-family:tahoma; font-size:11px}

.header { font-family:tahoma; font-size:11px; color:#BCBCBC; background-color:none; 
border:#BCBCBC; border-style:solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 0px;}

a:link, a:visited, a:active {color:#999999; text-decoration: none;}
a:hover      { color: #FFFFFF; text-decoration: none; background-color: #000000}